/*........................
styling for the heropage 
.........................*/

.sect-1 {
    background-image: url(./assets/cute-redhead-woman-sweater-showing-looking-laptop-screen-with-pleased-smile-demonstrating.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

body {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-weight: 400;
    font-style: italic;
}

.card > img {
    height: 180px !important;
    max-height: 180px !important;
}

.card {
    height: 100% !important;
}